In [11]:
import mysql.connector
import pandas as pd

In [4]:
try:
    conn = mysql.connector.connect(
        user="root", #enter your username
        password="yagay1901", #enter your mysql pass
        database="grabbo" #enter database name
    )
except Exception as e:
    print("Error:", str(e)) 

cursor = conn.cursor()

|ID|NAME|QUANTITY|CLASS|SUB-CLASS|
|--|----|--------|-----|---------|
|abc|Amul Chaas|56|Liquid|Buttermilk|
|bca|Amul Cold Coffee|32|Liquid|Flavoured Milk|
|cab|Amul Paneer|10|Solid|Cheese|

In [34]:
data = (("amul100", "Amul Masti Buttermilk", 56, "Liquid", "Buttermilk"), 
       ("amul101", "Amul Cold Coffee", 32, "Liquid", "Flavoured Milk"), 
       ("amul102", "Amul Paneer", 10, "Solid", "Cheese"), 
       ("amul103", "Amul Milk - Tonned", 20, "Liquid", "Milk"), 
       ("amul104", "Amul Milk - Full Cream", 15, "Liquid", "Milk"))

In [80]:
data = (("md100", "Mother Dairy Buttermilk", 12, "Liquid", "Buttermilk"),
       ("md101", "Mother Dairy Milk", 7, "Liquid", "Milk"))

In [81]:
def insertIntoTable(table_name, data):
    query = f"INSERT INTO {table_name} VALUES (%s, %s, %s, %s, %s)"
    cursor.execute(query, data)
    conn.commit()
    
table_name = "Dairy"
for i in data:
    print(i)
    insertIntoTable(table_name, i)
print(f"Updated %s column successfully.", table_name)

('md100', 'Mother Dairy Buttermilk', 12, 'Liquid', 'Buttermilk')

IntegrityError: 1062 (23000): Duplicate entry 'md100' for key 'dairy.PRIMARY'

In [82]:
#table to df
table_name = 'Dairy'
query = f'SELECT * FROM {table_name}'
df = pd.read_sql(query, conn)
df

/var/folders/xc/tfpw91cs2x5c9w2qtgv6jqb40000gn/T/ipykernel_72132/1243385955.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

        ID                     Name  Quantity   Class       Sub_Class
0  amul100    Amul Masti Buttermilk        56  Liquid      Buttermilk
1  amul101         Amul Cold Coffee        32  Liquid  Flavoured Milk
2  amul102              Amul Paneer        10   Solid          Cheese
3  amul103       Amul Milk - Tonned        20  Liquid            Milk
4  amul104   Amul Milk - Full Cream        15  Liquid            Milk
5    md100  Mother Dairy Buttermilk        12  Liquid      Buttermilk
6    md101        Mother Dairy Milk         7  Liquid            Milk

In [83]:
inf = df[df['Name']=='Amul Milk - Tonned']
print(inf)
index = inf['Sub_Class'].values[0]
id_ = inf['ID'].values[0]
print(index, id_)

        ID                Name  Quantity   Class Sub_Class
3  amul103  Amul Milk - Tonned        20  Liquid      Milk
Milk amul103

In [84]:
df[(df['Sub_Class'] == index) & (df['ID']!=id_)]

        ID                    Name  Quantity   Class Sub_Class
4  amul104  Amul Milk - Full Cream        15  Liquid      Milk
6    md101       Mother Dairy Milk         7  Liquid      Milk