In [1]:
import mysql.connector
import pandas as pd

In [2]:
try:
    conn = mysql.connector.connect(
        user="root", #enter your username
        password="yagay1901", #enter your mysql pass
        database="grabbo" #enter database name
    )
except Exception as e:
    print("Error:", str(e)) 

cursor = conn.cursor()

|ID|NAME|QUANTITY|CLASS|SUB-CLASS|
|--|----|--------|-----|---------|
|abc|Amul Chaas|56|Liquid|Buttermilk|
|bca|Amul Cold Coffee|32|Liquid|Flavoured Milk|
|cab|Amul Paneer|10|Solid|Cheese|

In [12]:
#inserted - dairy table
data = (("amul100", "Amul Masti Buttermilk", 56, 15, "Liquid", "Buttermilk"), 
       ("amul101", "Amul Kool Cold Coffee", 32, 25, "Liquid", "Flavoured Milk"), 
       ("amul102", "Amul Paneer", 10, 80, "Solid", "Cheese"), 
       ("amul103", "Amul Milk - Tonned", 20, 54, "Liquid", "Milk"), 
       ("amul104", "Amul Milk - Full Cream", 15, 65, "Liquid", "Milk"),
       ("md100", "Mother Dairy Buttermilk", 12, 14, "Liquid", "Buttermilk"),
       ("md101", "Mother Dairy Milk", 7, 58, "Liquid", "Milk"),
        ("amul105", "Amul Lassi", 25, 20, "Liquid", "Buttermilk Curd"),
        ("amul106", "Amul Curd", 11, 40, "Liquid", "Yogurt"),
        ("an100", "Ananda Paneer", 5, 82, "Solid", "Cheese"),
        ("md102", "Mother Dairy Curd", 7, 35, "Liquid", "Yogurt"),
        ("amul107", "Amul Butter", 19, 55, "Solid", "Butter"),
        ("nu100", "Nutrilite Butter", 5, 45, "Solid", "Butter"),
        ("ca100", "Cavins Strawberry Milk", 12, 30, "Liquid", "Flavoured Milk"),
        ("ca101", "Cavins Chocolate Milk", 14, 30, "Liquid", "Flavoured Milk"),
        ("amul108", "Amul Kool Kesar Pista", 8, 25, "Liquid", "Flavoured Milk")
       )

In [6]:
#inserted - biscuit table
data = (
    ("cad100", "Cadburry Oreo Chocolate", 40, 10, "Sweet", "Chocolate Cream"),
    ("cad101", "Cadburry Oreo Vanilla", 30, 10, "Sweet", "Vanilla Cream"),
    ("cad102", "Cadburry Bournvita", 12, 10, "Sweet", "Chocolate Glucose"),
    ("par100", "Parle G", 50, 5, "Sweet", "Glucose"),
    ("par101", "Parle Hide & Seek", 28, 30, "Sweet", "Chocolate"),
    ("par102", "Parle Marie Gold", 15, 40, "Sweet", "Plain"),
    ("par103", "Parle Krack-Jack Butter Masala", 22, 20, "Masala", "Sweet & Salty"),
    ("par104", "Parle Monaco", 20, 15, "Masala", "Sweet & Salty"),
    ("brit100", "Britannia Tiger Krunch Chocochips", 24, 10, "Sweet", "Chocolate"),
    ("brit101", "Britannia Jim-Jam", 38, 20, "Sweet", "Vanilla Cream"),
    ("brit102", "Britannia Milk Bikis", 26, 15, "Sweet", "Plain"),
    ("brit103", "Britannia Good Day Pista Badam", 25, 10, "Sweet", "Nuts"),
    ("sun100", "Sunfeast Glucose Plus", 21, 10, "Sweet", "Glucose"),
    ("sun101", "Sunfeast Dark Fantasy", 15, 20, "Sweet", "Chocolate Cream"),
    ("lot100", "Lotte ChocoPie", 30, 10, "Sweet", "Chocolate Vanilla"),
    ("uni100", "Unibic Sugar-Free Cashew", 10, 35, "Sweet", "Nuts")
)

In [7]:
#inserted - beverages table
data = (
    ("hind100", "Coca-Cola", 17, 35, "Soft-drinks", "cola"),
    ("hind101", "Coca-Cola Zero Sugar", 10, 40, "Soft-drinks", "cola"),
    ("hind102", "Thumbs Up", 12, 35, "Soft-drinks", "cola"),
    ("hind103", "Limca Lime 'n' Lemon", 6, 30, "Soft-drinks", "lemon"),
    ("pepsi100", "7 up Nimbooz", 20, 20, "Soft-drinks", "lemon"),
    ("pepsi101", "Pepsi", 15, 35, "Soft-drinks", "cola"),
    ("dab100", "Real Fruit Juice Mixed Fruit", 15, 20, "Juice", "Mixed Fruit"),
    ("dab101", "Real Fruit Juice Apple", 15, 20, "Juice", "Apple"),
    ("par105", "Appy Apple Juice", 10, 15, "Juice", "Apple"),
    ("amul100", "Amul Masti Buttermilk", 56, 15, "Liquid", "Buttermilk"), 
    ("amul101", "Amul Kool Cold Coffee", 32, 25, "Liquid", "Flavoured Milk"),
    ("md100", "Mother Dairy Buttermilk", 12, 14, "Liquid", "Buttermilk"),
    ("amul105", "Amul Lassi", 25, 20, "Liquid", "Buttermilk Curd"),
    ("ca100", "Cavins Strawberry Milk", 12, 30, "Liquid", "Flavoured Milk"),
    ("ca101", "Cavins Chocolate Milk", 14, 30, "Liquid", "Flavoured Milk"),
    ("amul108", "Amul Kool Kesar Pista", 8, 25, "Liquid", "Flavoured Milk")
)

In [15]:
#inserted - personal care
data = (
    ("nivea100", "Nivea Body Milk Nourishing Lotion", 9, 110, "Grooming", "Cream"),
    ("nivea101", "Nivea Cocoa Nourish Body Lotion", 12, 125, "Grooming", "Cream"),
    ("cinthol100", "Cinthol Fresh Lime Bath Soap", 15, 25, "Bath", "Soap"),
    ("dove100", "Dove Cream Beauty Bathing Soap", 13, 40, "Bath", "Soap"),
    ("cinthol101", "Cinthol Cool Bath Soap", 16, 25, "Bath", "Soap"),
    ("para100", "Parachute 100% Pure Coconut Oil", 13, 60, "Oil", "Coconut"),
    ("dove101", "Dove Hair Fall Rescue Shampoo", 10, 150, "Bath", "Shampoo"),
    ("john100", "Johnsons Baby Shampoo", 8, 185, "Bath", "Shampoo"),
    ("khadi100", "Khadi Essentials Aloe Vera Shampoo", 7, 120, "Bath", "Shampoo"),
    ("col100", "Colgate Strong Teeth", 23, 55, "Toothpaste", "Fresh"),
    ("col101", "Colgate Vedshakti", 12, 70, "Toothpaste", "Ayurvedic"),
    ("dab102", "Dabur Red", 11, 60, "Toothpaste", "Ayurvedic"),
    ("dettol100", "Dettol Original Hand Wash", 12, 75, "Handwash", "Handwash"),
    ("dettol101", "Dettol Lavendar Hand Wash", 9, 75, "Handwash", "Handwash"),
    ("dettol103", "Dettol Cool Hand Wash", 10, 75, "Handwash", "Handwash"),
    ("whis100", "Whisper Choice Sanitary Pads", 20, 99, "Wellness", "pads"),
    ("stay100", "Stayfree Secure Nights Sanitary Pads", 18, 130, "Wellness", "pads"),
    ("siro100", "Sirona Premium Tampons", 10, 199, "Wellness", "tampons"),
    ("nivea102", "Nivea Men Pure Impact Shower Gel", 8, 180, "Bath", "Shower gel"),
    ("nivea103", "Nivea Waterlily & Oil Shower Gel", 7, 190, "Bath", "Shower gel"),
    ("dove102", "Dove Deep Moisture Body Wash", 16, 199, "Bath", "Shower gel"),
    ("gil100", "Gillette Guard One time Razor", 40, 15, "Grooming", "Shave"),
    ("gil101", "Gillette Regular Shaving Foam", 20, 90, "Grooming", "Shave"),
    ("him100", "Himalaya Neem Facewash", 19, 199, "Bath", "Facewash"),
    ("khadi101", "Khadi Neem Facewash", 11, 119, "Bath", "Facewash"),
    ("nivea104", "Nivea Men Fresh Active Roll on", 8, 150, "Grooming", "Fragrance"),
    ("nivea105", "Nivea Women Smooth Skin Roll on", 6, 150, "Grooming", "Fragrance"),
    ("nivea106", "Nivea Men Fresh Active Deo Spray", 13, 125, "Grooming", "Fragrance"),
    ("nivea107", "Nivea Women Pearl & Beauty Deo Spray", 15, 125, "Grooming", "Fragrance"),
    ("durex100", "Durex Air Ultra Thin Condom", 14, 90, "Wellness", "sexual"),
    ("durex101", "Durex Skin-on-skin real feel Condom", 9, 165, "Wellness", "sexual"),
    ("kama100", "Kamasutra Dotted Condom", 11, 90, "Wellness", "sexual")
)

In [3]:
#inserted - household table
data = (
    ("surf100", "Surf Excel Liquid Detergent", 5, 490, "Detergent", "Laundry"),
    ("surf101", "Tide Matic Liquid Detergent", 8, 430, "Detergent", "Laundry"),
    ("surf102", "Rin Detergent Bar", 41, 25, "Detergent", "Laundry"), 
    ("vim100", "Vim Lemon Dishwash Soap", 11, 125, "Detergent", "Utensil"),
    ("vim101", "Vim Lemon Dishwash Bar", 22, 21, "Detergent", "Utensil"), 
    ("tiss100", "Tissue 100 pc", 25, 42, "Tissue", "Tissue"),
    ("tiss101", "Toilet Paper roll", 17, 70, "Tissue", "Tissue"),
    ("dura100", "Duracell Battery 4 pack", 10, 190, "Battery", "Battery"),
    ("class100", "Classmate Notebook", 12, 150, "Stationary", "Notebook"),
    ("gn100", "Good Knight Mosquito Repellent Refill", 30, 80, "Repellent", "Repellent"),
    ("gn101", "Good Knight Mosquito Repellent Coil", 14, 39, "Repellent", "Repellent")
)

In [6]:
#inserted - instant_food table
data = (
    ("maggi100", "Maggi Masala Noodles", 40, 12, "Noodles", "Noodles"),
    ("maggi101", "Maggi Cuppa Cup Noodles", 30, 50, "Noodles", "Noodles"),
    ("sun100", "Sunfeast Yippie Magic Masala Noodles", 14, 12, "Noodles", "Noodles"), 
    ("nognshim100", "Nongshim Shin Ramyun Noodles", 10, 120, "Noodles", "Noodles"),
    ("nis100", "Nissin Masala Cup Noodles", 25, 50, "Noodles", "Noodles"),
    ("maggi102", "Maggi Cheese Pasta", 10, 32, "Noodles", "Pasta"),
    ("sun101", "Sunfeast Masala Pasta", 9, 28, "Noodles", "Pasta")
)

In [8]:
#inserted - snacks table
data = (
    ("lays100", "Lays Magic Masala Chips", 40, 20, "Namkeen", "Snacks"),
    ("lays101", "Lays Cream & Onion Chips", 33, 20, "Namkeen", "Snacks"),
    ("unc100", "Uncle Chips", 14, 30, "Namkeen", "Snacks"), 
    ("kurk100", "Kurkure Puffcorn", 11, 20, "Namkeen", "Snacks"),
    ("kurk101", "Kurkure Masala Munch Chips", 23, 20, "Namkeen", "Snacks"), 
    ("bing100", "Bingo Mad Angles", 10, 20, "Namkeen", "Snacks"),
    ("hald100", "Haldiram's Plain Bhujia", 7, 56, "Namkeen", "Namkeen"),
    ("hald101", "Hadliram's Punjabi Tadka", 8, 56, "Namkeen", "Namkeen"),
    ("hald102", "Hadliram's Aloo Bhujia", 12, 55, "Namkeen", "Namkeen"),
    ("bik100", "Bikano Bikaneri Bhujia", 14, 59, "Namkeen", "Namkeen"),
    ("act100", "Act II Butter Popcorn", 40, 25, "Namkeen", "Snacks")
)

In [9]:
def insertIntoTable(table_name, data):
    query = f"INSERT INTO {table_name} VALUES (%s, %s, %s, %s, %s, %s)"
    cursor.execute(query, data)
    conn.commit()
    
table_name = "Snacks"
for i in data:
    print(i)
    insertIntoTable(table_name, i)
print(f"Updated %s column successfully.", table_name)

('lays100', 'Lays Magic Masala Chips', 40, 20, 'Namkeen', 'Snacks')
('lays101', 'Lays Cream & Onion Chips', 33, 20, 'Namkeen', 'Snacks')
('unc100', 'Uncle Chips', 14, 30, 'Namkeen', 'Snacks')
('kurk100', 'Kurkure Puffcorn', 11, 20, 'Namkeen', 'Snacks')
('kurk101', 'Kurkure Masala Munch Chips', 23, 20, 'Namkeen', 'Snacks')
('bing100', 'Bingo Mad Angles', 10, 20, 'Namkeen', 'Snacks')
('hald100', "Haldiram's Plain Bhujia", 7, 56, 'Namkeen', 'Namkeen')
('hald101', "Hadliram's Punjabi Tadka", 8, 56, 'Namkeen', 'Namkeen')
('hald102', "Hadliram's Aloo Bhujia", 12, 55, 'Namkeen', 'Namkeen')
('bik100', 'Bikano Bikaneri Bhujia', 14, 59, 'Namkeen', 'Namkeen')
('act100', 'Act II Butter Popcorn', 40, 25, 'Namkeen', 'Snacks')
Updated %s column successfully. Snacks

In [9]:
#table to df
table_name = 'Dairy'
query = f'SELECT * FROM {table_name}'
df = pd.read_sql(query, conn)
df

/var/folders/xc/tfpw91cs2x5c9w2qtgv6jqb40000gn/T/ipykernel_7262/1243385955.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

         ID                     Name  Quantity  Price   Class        Sub_Class
0   amul100    Amul Masti Buttermilk        56   15.0  Liquid       Buttermilk
1   amul101    Amul Kool Cold Coffee        32   25.0  Liquid   Flavoured Milk
2   amul102              Amul Paneer        10   80.0   Solid           Cheese
3   amul103       Amul Milk - Tonned        20   54.0  Liquid             Milk
4   amul104   Amul Milk - Full Cream        15   65.0  Liquid             Milk
5   amul105               Amul Lassi        25   20.0  Liquid  Buttermilk Curd
6   amul106                Amul Curd        11   40.0  Liquid           Yogurt
7   amul107              Amul Butter        19   55.0   Solid           Butter
8   amul108    Amul Kool Kesar Pista         8   25.0  Liquid   Flavoured Milk
9     an100            Ananda Paneer         5   82.0   Solid           Cheese
10    ca100   Cavins Strawberry Milk        12   30.0  Liquid   Flavoured Milk
11    ca101    Cavins Chocolate Milk        14   30.0  Liquid   Flavoured Milk
12    md100  Mother Dairy Buttermilk        12   14.0  Liquid       Buttermilk
13    md101        Mother Dairy Milk         7   58.0  Liquid             Milk
14    md102        Mother Dairy Curd         7   35.0  Liquid           Yogurt
15    nu100         Nutrilite Butter         5   45.0   Solid           Butter

In [18]:
inf = df[df['Name']=='Amul Kool Cold Coffee']
print(inf)
index = inf['Sub_Class'].values[0]
id_ = inf['ID'].values[0]
print(index, id_)

        ID                   Name  Quantity  Price   Class       Sub_Class
1  amul101  Amul Kool Cold Coffee        32   25.0  Liquid  Flavoured Milk
Flavoured Milk amul101

In [19]:
df[(df['Sub_Class'] == index) & (df['ID']!=id_)]

         ID                    Name  Quantity  Price   Class       Sub_Class
8   amul108   Amul Kool Kesar Pista         8   25.0  Liquid  Flavoured Milk
10    ca100  Cavins Strawberry Milk        12   30.0  Liquid  Flavoured Milk
11    ca101   Cavins Chocolate Milk        14   30.0  Liquid  Flavoured Milk